{% extends 'productos/index.html' %}

{% block TITULO %}
    Lista de Categorías
{% endblock TITULO %}

{% block INDEX_CONTENIDO %}
    {% if object_list %}

        {% for object in object_list %}
            <ul>
                <li>{{ object.nombre }}
                    <a href="{% url 'productos:categoria_detail' object.id %}">Ver detalles</a>
                    <a href="{% url 'productos:categoria_update' object.id %}">Actualizar</a>
                    <a href="{% url 'productos:categoria_delete' object.id %}">Eliminar</a>
                </li>
            </ul>
        {% endfor %}
    {% else %}
            <p>No hay elementos</p>
        
    {% endif %}
{% endblock INDEX_CONTENIDO %}