{% extends 'Home/index.html' %}

{% block TITULO %}
    <h1 class="display-5 fw-bolder text-dark mb-2 text-center">
        Productos
    </h1>
{% endblock TITULO %}

{% block INDEX_CONTENIDO %}

    <h3 class="pb-lg-3">
        Categorías
    </h3>

    <div class="d-grid gap-3">
        {% if user.is_staff %}
            <a href="{% url 'productos:categoria_create' %}" class="btn btn-primary">Crear una nueva Categoría</a>
            <br>
        {% endif %}
        <a href="{% url 'productos:categoria_list' %}" class="btn btn-primary">Listar Categorías</a>
        <br>
    </div>

    <h3 class="pb-lg-3">
        Productos
    </h3>

    <div class="d-grid gap-3">
        {% if user.is_staff %}
            <a href="{% url 'productos:producto_create' %}" class="btn btn-primary">Crear un nuevo Producto</a>
            <br>
        {% endif %}
        <a href="{% url 'productos:producto_list' %}" class="btn btn-primary">Listar Productos</a>
    </div>

{% endblock INDEX_CONTENIDO %}