
<div class="col-lg-6 col-xl-4">
    <div class="card mb-5 mb-xl-0">
        <div class="card-body p-5">
            <div class="fs-4 text-uppercase fw-bold text-muted">{{ card }}</div>
            <div class="mb-3">
                <p class="fw-bold fs-5 ">{{ card_categoria }}</p>
                <span class="display-4 fw-bold">${{ card_precio }}</span>
            </div>
            <div>
                <p>{{ card_descripcion }}</p>
            </div>
        </div>
    </div>
</div>
</section>
            