
<div class="col-lg-6 col-xl-4">
    <div class="card mb-5 mb-xl-0">
        <div class="card-body p-5">
            <div class="small text-uppercase fw-bold text-muted">Mouse Logitech</div>
            <div class="mb-3">
                <span class="display-4 fw-bold">$100</span>
            </div>
            <div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius magnam saepe optio, ullam blanditiis libero provident atque quam adipisci quo autem minus sapiente qui ipsam voluptatem vel fugit reprehenderit alias.</p>
            </div>
            <div class="d-grid"><a class="btn btn-outline-primary" href="#!">Comprar</a></div>
        </div>
    </div>
</div>
</section>
            