{% extends 'Home/base.html' %}
{% load static %}


{% block BASE_CONTENIDO %}
    {% block TITULO %}

    {% endblock TITULO %}
    
    {% block INDEX_CONTENIDO %}

        <!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-5">
                <div class="row gx-5 justify-content-center">
                    <div class="col-lg-6">
                        <div class="text-center my-5">
                            <h1 class="display-5 fw-bolder text-white mb-2">Bienvenido a GamerSync</h1>
                            <p class="lead text-white-50 mb-4">Aquí podras encontrar accesorios para tu set-up, los perifericos que usan los mejores del mundo y componentes para tu pc</p>
                            <div class="d-grid gap-3 d-sm-flex justify-content-sm-center">
                                <a class="btn btn-primary btn-lg px-4 me-sm-3" href="{% url 'Home:login' %}">Iniciar Sesión</a>
                                <a class="btn btn-outline-light btn-lg px-4" href="{% url 'Home:register' %}">Registrarse</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <!-- Features section-->
        {% include 'Home/features.html' %}
                          
    {% endblock INDEX_CONTENIDO %}

{% endblock BASE_CONTENIDO %}
                    
